.select-plan-page {
  min-height: 100vh;
  padding: 40px 60px;
  color: #333;
}


.select-plan-page h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
  color: #222;
}


.select-plan-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.select-plan-form input {
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  width: 220px;
}

.select-plan-form input:focus {
  border-color: #685aca;
  box-shadow: 0 0 5px #685aca;
}


.select-plan-page p {
  text-align: center;
  font-size: 18px;
  color: rgb(144, 33, 196);
  margin-top: 10px;
}


.select-plan-page h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
  color: #222;
  margin-bottom: 50px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(104, 90, 202, 0.3);
}

th, td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #685aca;
  color: white;
  font-weight: 600;
  font-size: 30px;
}

td {
    font-weight: 500;
    font-size: 20px;
}

tr:hover {
  background-color: #f4f4f4;
}


.no-plan-text {
  text-align: center;
  font-size: 18px;
  color: #444;
  margin-top: 20px;
}
