.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #685aca;
  background-color: rgb(39, 33, 60);
  margin-top: -300px;
}

.login-container h1 {
  padding-top: 10px;
  color: rgb(223, 226, 253);
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.login-form input {
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
}

.login-form input:focus {
  box-shadow: 0 0 5px #ffffff;
  background-color: #f9f9ff;
}

.login-message {
  color: rgb(223, 226, 253);
  margin-top: 10px;
  text-align: center;
}

.forgot-password-link {
  text-align: center;
  margin-top: 10px;
}

.forgot-password-link a {
  color: #5a4fcf;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.forgot-password-link a:hover {
  color: #3b32a3;
  text-decoration: underline;
}
