* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect (same as top nav hover style) */
button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}
